:root {
  --header-bg-color: #ffffff;
  --main-bg-color: #ffffff;
  --banner-bg-color: #2f303a;
  --team-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --primary-title-color: #212121;
  --secondary-title-color: #ffffff;
  --primary-text-color: #757575;
  --secondery-text-color: #ffffff;
  --primary-header-color: #212121;
  --secondary-header-color: #757575;
  --accent-color: #2196f3;
  --portfolio-btn-color: #f5f4fa;
  --team-cards-bg-color: #ffffff;
  --projects-cards-bg-color: #eeeeee;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

body {
  background-color: var(--main-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  color: var(--primary-title-color);
  font-weight: 500;
  font-size: 14px;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link,
.logo {
  text-decoration: none;
}

.hidden {
  display: none;
}

/* Header */

.header {
  background-color: var(--header-bg-color);
  font-family: "Roboto";
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  border-bottom: 1px solid #ececec;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  display: inline-block;
}

.logo.studio-header {
  color: var(--primary-header-color);

  padding-top: 24px;
  padding-bottom: 25px;
}
.nav {
  display: flex;
  margin-left: 93px;
  align-items: center;
}

.nav .link {
  color: var(--primary-header-color);

  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav li:nth-child(n + 2) {
  margin-left: 50px;
}

.nav .link:hover,
.nav .link:focus {
  color: var(--accent-color);
}

.nav .link.current {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  align-items: center;
}

.contacts .link {
  color: var(--secondary-header-color);

  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts li:nth-child(n + 2) {
  margin-left: 50px;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

.main-nav {
  display: flex;
}

.header > .container {
  display: flex;
  justify-content: space-between;
}

/* Студия */
/* Секция Шапка */

.banner {
  background-color: var(--banner-bg-color);
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/banner-bg.jpg);

  padding-top: 200px;
  padding-bottom: 200px;
}

.banner .title {
  color: var(--secondary-title-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 696px;
}

.btn {
  background-color: var(--accent-color);
  color: var(--secondery-text-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  text-align: center;
  letter-spacing: 0.06em;

  margin-right: auto;
  margin-left: auto;
  border: none;
  border-radius: 4px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
}

.btn:hover,
.btn:focus {
  background-color: #188ce8;
}

/* Секция Наши преимущества */

.benefits {
  line-height: 1.71;
}

.benefits .title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.benefits-list {
  display: flex;
}

.benefits-item:nth-child(n + 2) {
  margin-left: 30px;
}

/* Секция Чем мы занимаемся */

.what-we-doing {
  padding-top: 0;
}

.what-we-doing .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-bottom: 50px;
}

.what-we-doing-list {
  display: flex;
}

.what-we-doing-item:nth-child(n + 2) {
  margin-left: 30px;
}

/* Наша команда */

.team {
  background-color: var(--team-bg-color);
}

.team > .container > .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.66;
  text-align: center;

  margin-bottom: 50px;
}

.team-cards {
  display: flex;
}

.team .card {
  background-color: var(--team-cards-bg-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-cards .card:nth-child(n + 2) {
  margin-left: 30px;
}

.card-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.card-text .title {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 10px;
}

/* Footer */

.footer {
  background-color: var(--footer-bg-color);
  line-height: 1.71;

  padding-top: 60px;
  padding-bottom: 60px;
}

.logo.studio-footer {
  color: var(--secondary-title-color);
}

.footer > .container > .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.address .link {
  color: var(--secondery-text-color);
  font-style: normal;
  display: inline-block;
}

.address .mail,
.address .tel {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  margin-top: 9px;
}

.address .mail:hover,
.address .mail:focus {
  color: var(--accent-color);
}

.address .tel:hover,
.address .tel:focus {
  color: var(--accent-color);
}

/* Портфолио */
/* buttons */

.projects {
  font-size: 16px;
}

.button {
  background-color: var(--portfolio-btn-color);
  color: #212121;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.62;

  display: inline-block;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  border: none;
  border-radius: 4px;
}

.buttons .filter:nth-child(n + 2) {
  margin-left: 8px;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--secondery-text-color);
}

.projects .buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

/* projects */

.projects .cards {
  background-color: var(--main-bg-color);
}

.projects .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.cards .text {
  line-height: 1.88;
  color: var(--primary-text-color);
}

.cards .card-name {
  border: 1px solid #eeeeee;
  border-top: none;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.projects .card {
  margin-bottom: 30px;
  margin-left: 30px;
}

.projects .card:nth-child(3n + 1) {
  margin-left: 0;
}

.projects .card:nth-last-of-type(-n + 3) {
  margin-bottom: 0;
}
